@use "../forwards" as fw

.shutter-animation
  display: grid
  place-content: center

  .box
    position: relative
    width: 300px
    aspect-ratio: 1
    overflow: hidden
    &::before
      display: grid
      place-content: center
      position: absolute
      top: 0
      left: 0
      content: "hello, world!"
      width: 100%
      height: 100%
      padding-bottom: 5%
      color: #fff
      background-color: rgba(0, 0, 0, .7)
      transform: scaleX(0)
      transform-origin: left
      transition: transform .3s ease
      z-index: 10
    &.open::before
      transform: scaleX(1)
    .bgimage
      height: 100%
      background: url(./data/img/130126-35770018.jpg) no-repeat center
      background-size: cover
      transition: .5s
    &.open .bgimage
      transform: scale(1.1)
